In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/baseball-databank/TeamsHalf.csv
/kaggle/input/baseball-databank/SeriesPost.csv
/kaggle/input/baseball-databank/AwardsSharePlayers.csv
/kaggle/input/baseball-databank/Batting.csv
/kaggle/input/baseball-databank/AwardsShareManagers.csv
/kaggle/input/baseball-databank/Salaries.csv
/kaggle/input/baseball-databank/Teams.csv
/kaggle/input/baseball-databank/Fielding.csv
/kaggle/input/baseball-databank/Pitching.csv
/kaggle/input/baseball-databank/AwardsManagers.csv
/kaggle/input/baseball-databank/ManagersHalf.csv
/kaggle/input/baseball-databank/BattingPost.csv
/kaggle/input/baseball-databank/TeamsFranchises.csv
/kaggle/input/baseball-databank/AwardsPlayers.csv
/kaggle/input/baseball-databank/Master.csv
/kaggle/input/baseball-databank/AllstarFull.csv
/kaggle/input/baseball-databank/HallOfFame.csv
/kaggle/input/baseball-databank/FieldingOF.csv
/kaggle/input/baseball-databank/PitchingPost.csv
/kaggle/input/baseball-databank/Managers.csv

In [2]:
pd.set_option('display.max_columns', None)
pitching=pd.read_csv('/kaggle/input/baseball-databank/Pitching.csv')
pitching

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,HR,BB,SO,BAOpp,ERA,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,0,0,78.0,43,23,0,11,1,NaN,7.96,NaN,NaN,NaN,0,NaN,NaN,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,0,0,792.0,361,132,4,37,13,NaN,4.50,NaN,NaN,NaN,0,NaN,NaN,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,0,0,3.0,8,3,0,0,0,NaN,27.00,NaN,NaN,NaN,0,NaN,NaN,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,1,0,639.0,295,103,3,31,15,NaN,4.35,NaN,NaN,NaN,0,NaN,NaN,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,0,0,27.0,20,10,0,3,0,NaN,10.00,NaN,NaN,NaN,0,NaN,NaN,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44134,youngch03,2015,1,KCA,AL,11,6,34,18,0,0,0,370.0,91,42,16,43,83,0.202,3.06,0.0,5.0,0.0,0,500.0,3.0,44,4.0,2.0,NaN
44135,zieglbr01,2015,1,ARI,NL,0,3,66,0,0,0,30,204.0,48,14,3,17,36,0.197,1.85,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
44136,zimmejo02,2015,1,WAS,NL,13,10,33,33,0,0,0,605.0,204,82,24,39,164,0.264,3.66,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
44137,zitoba01,2015,1,OAK,AL,0,0,3,2,0,0,0,21.0,12,8,4,6,2,0.387,10.29,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
44138,zychto01,2015,1,SEA,AL,0,0,13,1,0,0,0,55.0,17,5,1,3,24,0.239,2.45,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

In [3]:
pitching.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [4]:
career_pitching=pd.DataFrame()
for player in pitching['playerID'].value_counts().index:
    df=pitching[pitching['playerID'].isin([player])]
    career_pitching=career_pitching.append({'playerID':player,'Seasons':len(df)},ignore_index=True)

In [5]:
#players much play at least 10 seasons to be eligible for the hall of fame
minimum=career_pitching[career_pitching['Seasons']>=10]
minimum

      Seasons   playerID
0        29.0  newsobo01
1        28.0   kaatji01
2        28.0   johnto01
3        27.0  carltst01
4        27.0   ryanno01
...       ...        ...
1457     10.0  glovega01
1458     10.0  aquinlu01
1459     10.0  clemepa01
1460     10.0  sorrevi01
1461     10.0   hessot01

[1462 rows x 2 columns]

In [6]:
df=pitching[pitching['playerID'].isin(['ryanno01'])].drop(columns=['playerID','lgID','yearID','teamID'])
df['IP']=df['IPouts']/3
for column in df:
    if column=='BAOpp':
        print(column)

BAOpp

In [7]:
pitching_final=pd.DataFrame()
for player in minimum['playerID']:
    player_totals=pd.DataFrame()
    player_totals=player_totals.append({'playerID':player},ignore_index=True)
    df=pitching[pitching['playerID'].isin([player])].drop(columns=['playerID','lgID','yearID','teamID'])
    df['IP']=df['IPouts']/3
    for column in df:
        if column=='BAOpp':
            player_totals[column]=df.mean()[column]
        elif column=='ERA':
            player_totals[column]=(9*df.sum()['ER'])/(df.sum()['IP'])
        else:
            player_totals[column]=df.sum()[column]
    pitching_final=pitching_final.append(player_totals)

In [8]:
pitching_final=pitching_final.reset_index().drop(columns=['IPouts','index'])
pitching_final

,playerID,stint,W,L,G,GS,CG,SHO,SV,H,ER,HR,BB,SO,BAOpp,ERA,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,IP
0,newsobo01,39.0,211.0,222.0,600.0,483.0,246.0,31.0,21.0,3769.0,1664.0,206.0,1732.0,2082.0,0.265172,3.983685,0.0,60.0,61.0,7.0,16467.0,71.0,1908.0,0.0,0.0,0.0,3759.333333
1,kaatji01,31.0,283.0,237.0,898.0,625.0,180.0,31.0,18.0,4620.0,1738.0,395.0,1083.0,2461.0,0.272143,3.452726,116.0,128.0,122.0,6.0,19021.0,102.0,2038.0,0.0,0.0,0.0,4530.333333
2,johnto01,30.0,288.0,231.0,760.0,700.0,162.0,46.0,4.0,4783.0,1749.0,302.0,1259.0,2245.0,0.267500,3.341802,102.0,187.0,98.0,16.0,19692.0,22.0,2017.0,0.0,0.0,0.0,4710.333333
3,carltst01,31.0,329.0,244.0,741.0,709.0,254.0,55.0,2.0,4672.0,1864.0,414.0,1833.0,4136.0,0.250741,3.215436,150.0,183.0,53.0,90.0,21683.0,13.0,2130.0,0.0,0.0,0.0,5217.333333
4,ryanno01,27.0,324.0,292.0,807.0,773.0,222.0,61.0,3.0,3923.0,1911.0,321.0,2795.0,5714.0,0.204444,3.193279,78.0,277.0,158.0,33.0,22575.0,13.0,2178.0,0.0,0.0,0.0,5386.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457,glovega01,12.0,29.0,26.0,263.0,47.0,0.0,0.0,3.0,554.0,289.0,74.0,184.0,324.0,0.253800,5.034194,17.0,22.0,21.0,0.0,2261.0,70.0,307.0,15.0,16.0,0.0,516.666667
1458,aquinlu01,11.0,31.0,32.0,222.0,69.0,5.0,3.0,5.0,698.0,277.0,45.0,224.0,318.0,0.277000,3.675184,24.0,20.0,25.0,3.0,2902.0,40.0,311.0,0.0,0.0,0.0,678.333333
1459,clemepa01,12.0,17.0,11.0,288.0,2.0,0.0,0.0,12.0,362.0,151.0,17.0,160.0,158.0,0.276000,3.771508,27.0,17.0,11.0,2.0,1547.0,85.0,163.0,0.0,0.0,0.0,360.333333
1460,sorrevi01,10.0,92.0,101.0,280.0,216.0,95.0,8.0,10.0,1820.0,823.0,101.0,706.0,619.0,0.283000,4.430907,0.0,25.0,20.0,0.0,7410.0,41.0,949.0,0.0,0.0,0.0,1671.666667
1461,hessot01,10.0,70.0,90.0,198.0,165.0,129.0,18.0,5.0,1355.0,469.0,25.0,448.0,580.0,0.276000,2.976728,0.0,38.0,83.0,5.0,3531.0,30.0,663.0,0.0,0.0,0.0,1418.000000

In [9]:
pitching_final.to_csv('pitching.csv')